<form #searchForm="ngForm" (ngSubmit)="process()">
    <h4 *ngIf="searchForm.invalid">Please fill in all the required fields</h4>  
    <h4 *ngIf="searchForm.valid">You can now perform search!</h4>
    <table>
        <tr>
          <td></td>
          <td>
            <input type="email" name="email" id="email" ngModel required placeholder="Please enter your email">
          </td>
        </tr>
        <tr>
        <td></td>
          <td>
            <input type="text" name="query" id="query" ngModel required placeholder="Please enter a search term">
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
              <button type="submit" [disabled]="searchForm.invalid">Search</button>
           </td>
        </tr>
      </table>
</form>

<div>
    <ul *ngFor="let g of giphys">
      <li>
        <a><code>{{g}}</code></a><br/>
        <img src={{g}}>
      </li>
    </ul>
</div>

